<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template">
<head>
<meta charset="UTF-8">
<title>근무 기록</title>
</head>
<body>
	<th:block layout:fragment="content">
		<main class="content">
			<div class="container-fluid p-0">
				<h1>근무 기록</h1>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<div class="card-body">
									<div id="datatables-buttons_wrapper"
										class="dataTables_wrapper dt-bootstrap4 no-footer">
										<div class="row">
											<div class="col-sm-12 col-md-6"></div>
											<div class="col-sm-12 col-md-6">
												<div id="datatables-buttons_filter"
													class="dataTables_filter">
													<!-- form 태그 있던 자리  -->
													<div class="form-inline">
														<select id="condition" name="condition"
															class="form-control">
															<option value="name">이름</option>
															<option value="state">상태</option>
														</select> <input type="text" id="searchQuery" name="searchQuery"
															class="form-control form-control-sm" placeholder=""
															aria-controls="datatables-buttons"> <input
															type="button" class="btn btn-primary" id="searchButton"
															name="searchButton" value="검색">
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<table id="datatables-buttons"
													class="table table-striped dataTable no-footer dtr-inline"
													style="width: 100%;" role="grid"
													aria-describedby="datatables-buttons_info">
													<thead>
														<tr role="row">
															<th>업무 명</th>
															<th>사업장 명</th>
															<th>근무 시간</th>
															<th>출근 시간</th>
															<th>퇴근 시간</th>
															<th>급여(예상)</th>
															<th>급여(지급)</th>
															<th>평점</th>
															<th>비고</th>
															<th>&nbsp;</th>
														</tr>
													</thead>
													<tbody id="table_body">
													</tbody>
												</table>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 col-md-5">
												<div class="dataTables_info" id="datatables-buttons_info"
													role="status" aria-live="polite">Showing 1 to 10 of
													XX entries</div>
											</div>
											<div class="col-sm-12 col-md-7">
												<div class="dataTables_paginate paging_simple_numbers"
													id="datatables-buttons_paginate">
													<ul class="pagination">
														<li class="paginate_button page-item previous disabled"
															id="datatables-buttons_previous"><a href="#"
															aria-controls="datatables-buttons" data-dt-idx="0"
															tabindex="0" class="page-link">Previous</a></li>
														<li class="paginate_button page-item active"><a
															href="#" aria-controls="datatables-buttons"
															data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
														<li class="paginate_button page-item "><a href="#"
															aria-controls="datatables-buttons" data-dt-idx="2"
															tabindex="0" class="page-link">2</a></li>
														<li class="paginate_button page-item "><a href="#"
															aria-controls="datatables-buttons" data-dt-idx="3"
															tabindex="0" class="page-link">3</a></li>
														<li class="paginate_button page-item "><a href="#"
															aria-controls="datatables-buttons" data-dt-idx="4"
															tabindex="0" class="page-link">4</a></li>
														<li class="paginate_button page-item "><a href="#"
															aria-controls="datatables-buttons" data-dt-idx="5"
															tabindex="0" class="page-link">5</a></li>
														<li class="paginate_button page-item "><a href="#"
															aria-controls="datatables-buttons" data-dt-idx="6"
															tabindex="0" class="page-link">6</a></li>
														<li class="paginate_button page-item next"
															id="datatables-buttons_next"><a href="#"
															aria-controls="datatables-buttons" data-dt-idx="7"
															tabindex="0" class="page-link">Next</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</th:block>
</body>
</html>
<script th:inline="javascript">
	var username = /*[[${#authentication.principal.username}]]*/ '';
	$(document).ready(function() {
		drawTable();
	});
	function drawTable() {
		var branchNo = $('#selectBranch').val() > 0 ? $('#selectBranch').val() : 0;
		
		if (branchNo > 0) {
			var url = "/record?businessmanId=" + username;
		} else {
			var url = "/record?memberId=" + username;
		}
		
		/* if ($('#condition').val() == 'name') {
			url += "name=" + $('#searchQuery').val();
		} else {
			url += "state=" +  $('#searchQuery').val();
		} */
	
		$.ajax({
			url: url,
			type: "get",
			headers: {
				"Content-Type": "application/json;charset=UTF-8"
			},
			success: function (data) {
				var html = "";
				if (data.length > 0) {
					for (var i = 0; i < data.length; i++) {
						html += "	<tr>";
						html += "	<td>" + data[i].occupationName + "</td>";
						html += "	<td>" + data[i].branchName + "</td>";
						html += "	<td>" + data[i].workStartTime + " ~ " + data[i].workEndTime + "</td>";
						html += "	<td>" + data[i].workingTime + "</td>";
						if (data[i].quittingTime != null) {
							html += "	<td>" + data[i].quittingTime + "</td>";
						} else {
							html += "	<td>-</td>"
						}
						html += "	<td>" + data[i].salaryPlan + "</td>";
						html += "	<td>" + data[i].salaryPay + "</td>";
						if (data[i].evaluation > 0) {
							html += "	<td>" + data[i].evaluation + "</td>";
						} else {
							html += "	<td></td>";
						}
						if (data[i].note != null) {
							html += "	<td>" + data[i].note + "</td>";
						} else {
							html += "	<td></td>";
						}
						html += "	<td><input type='hidden' name='no' value=" + data[i].no + "</td>";
						html += "	</tr>";
					}
				} else {
					html += "<tr><td colspan='6'>검색 결과가 없습니다.</td></tr>";
				}
				$('#table_body').html(html);
			},
			error: function (request, status, error) {
				console.log("Code:" + request.status + "\n" + "message:" + request.responseText + "\n" +
					"error:" + error);
			}
		})
	};
</script>