<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.sunmoon.shopface.businessman.BranchMapper">
	<resultMap id="Branch" type="kr.ac.sunmoon.shopface.businessman.Branch">
        <id column="NO" property="no"/>
        <result column="BUSINESSMAN_ID" property="businessmanId"/>
        <result column="NAME" property="name"/>
        <result column="PHONE" property="phone"/>
        <result column="REGISTER_DATE" property="registerDate"/>
        <result column="ADDRESS" property="address"/>
        <result column="DETAIL_ADDRESS" property="detailAddress"/>
        <result column="ZIP_NO" property="zipNo"/>
        <result column="BUSINESS_L_PATH" property="businessLPath"/>
        <result column="STATE" property="state"/>
        <result column="APPROVAL_STATUS" property="approvalStatus"/>
    </resultMap>

	<insert id="insert" parameterType="Branch">
		INSERT INTO BRANCH(NO, BUSINESSMAN_ID, NAME, PHONE, REGISTER_DATE, ADDRESS, DETAIL_ADDRESS, ZIP_NO, STATE, APPROVAL_STATUS)
		VALUES(BRANCH_NO_SEQ.NEXTVAL, #{businessmanId}, #{name}, #{phone}, SYSDATE, #{address}, #{detailAddress}, #{zipNo}, 'A', 'W')
	</insert>
	
	<select id="selectAll" parameterType="Branch" resultType="Branch">
		SELECT 
			 NO
			,BUSINESSMAN_ID
			,NAME
			,PHONE
			,TO_CHAR(REGISTER_DATE, 'YYYY-MM-DD') AS "REGISTER_DATE"
			,ADDRESS
			,DETAIL_ADDRESS
			,ZIP_NO
			,STATE
			,APPROVAL_STATUS
		FROM BRANCH
		<where>
			<if test="businessmanId != null and businessmanId != ''">
				AND BUSINESSMAN_ID = #{businessmanId}
			</if>
			<if test="APPROVAL_STATUS != null">
				AND APPROBVAL_STATUS = #{approvalStatus}
			</if>
		</where>
	</select>
	
	<select id="select" parameterType="int" resultType="Branch">
		SELECT 
			 NO
			,BUSINESSMAN_ID
			,NAME
			,PHONE
			,TO_CHAR(REGISTER_DATE, 'YYYY-MM-DD') AS "REGISTER_DATE"
			,ADDRESS
			,DETAIL_ADDRESS
			,ZIP_NO
			,BUSINESS_L_PATH
			,STATE
			,APPROVAL_STATUS
		FROM BRANCH
		WHERE NO = #{no}
	</select>
	
	<update id="update" parameterType="Branch">
		UPDATE BRANCH
		<set>
			<if test="name != null and name != ''">
				NAME = #{name},
			</if> 
			<if test="address != null and address != ''">
				ADDRESS = #{address},
			</if>
			<if test="detailAddress != null and detailAddress != ''">
				DETAIL_ADDRESS = #{detailAddress},
			</if>
			<if test="zipNo != null and zipNo != ''">
				ZIP_NO = #{zipNo},
			</if>
			<if test="phone != null and phone != ''">
				PHONE = #{phone},
			</if>
			<if test="approvalStatus != null">
				APPROVAL_STATUS = #{approvalStatus},
			</if>
			<if test="state != null">
				state = #{state},
			</if>
			<if test="businessLPath != null and businessLPath != ''">
				BUSINESS_L_PATH = #{businessLPath}
			</if>
		</set>
		WHERE NO = #{no}
	</update>
	
	<delete id="delete" parameterType="kr.ac.sunmoon.shopface.businessman.Branch">
		DELETE FROM BRANCH
		WHERE NO = #{no}
	</delete>
</mapper>