<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template">
<head>
<meta charset="UTF-8">
<title>스케줄 목록</title>
</head>
<body>
	<th:block layout:fragment="content">
		<main class="content">
			<div class="container-fluid p-0">
				<h1 class="h3 mb-3">스케줄 목록</h1>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div id="datatables-buttons_wrapper"
									class="dataTables_wrapper dt-bootstrap4 no-footer">
									<div class="row">
										<div class="col-sm-12 col-md-6"></div>
										<div class="col-sm-12 col-md-6">
										</div>
									</div>
									<div id="fullcalendar"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</th:block>
</body>
</html>
<script>
$(function() {
	$("#fullcalendar").fullCalendar({
		header : {
			left : "prev,next today",
			center : "title", 
		 	right : "month" 
		},
		weekNumbers : true,
		eventLimit : true,
		editable : false,
		displayEventEnd : true,
		events : function(start, end, timezone, callback) {
			$.ajax({
				url : "/schedule",
				type : "get",
			/* 	data : {
					branchNo : branchNo
				}, */
				datatype : "json",
				headers : {
					"Content-Type" : "application/json;charset=UTF-8"
				},
				success : function(data) {
					var events = [];
					for (i in data) {
						events.push({
				            title: data[i].timetable.occupName + "," + data[i].branch.name,
				            start: data[i].timetable.workStartTime,
				            end: data[i].timetable.workEndTime, 
				            color: data[i].timetable.occupColor,
				            textColor: "#ffffff"
				        });
					}
					callback(events);
				}, error : function(request, status, error) {
					console.log("Code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
				}
			})    
		},
	});
})
</script> 