<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.sunmoon.shopface.work.timetable.TimetableMapper">    
	<insert id="insert" parameterType="timetable">
		INSERT INTO TIMETABLE(NO, BRANCH_NO, WORK_START_TIME, WORK_END_TIME, OCCUP_NAME, OCCUP_COLOR, REGISTER_DATE)
		VALUES(TIMETABLE_NO_SEQ.NEXTVAL
				,#{branchNo}
				,TO_DATE(#{workStartTime}, 'YYYY-MM-DD HH24:MI:SS')
				,TO_DATE(#{workEndTime}, 'YYYY-MM-DD HH24:MI:SS')
				,#{occupName}
				,#{occupColor}
				,SYSDATE)
	</insert>
		<select id="select" parameterType="timetable" resultType="timeTable">
		SELECT 
			 NO
			,BRANCH_NO
			,TO_CHAR(WORK_START_TIME, 'YYYY-MM-DD HH24:MI:SS') AS "WORK_START_TIME"
			,TO_CHAR(WORK_END_TIME, 'YYYY-MM-DD HH24:MI:SS') AS "WORK_END_TIME"
			,OCCUP_NAME
			,OCCUP_COLOR
			,REGISTER_DATE
		FROM TIMETABLE
		WHERE NO = #{no}
	</select>
	
	<select id="selectAll" parameterType="timetable" resultType="timeTable">
		SELECT 
			 NO
			,BRANCH_NO
			,TO_CHAR(WORK_START_TIME, 'YYYY-MM-DD HH24:MI:SS') AS "WORK_START_TIME"
			,TO_CHAR(WORK_END_TIME, 'YYYY-MM-DD HH24:MI:SS') AS "WORK_END_TIME"
			,OCCUP_NAME
			,OCCUP_COLOR
			,REGISTER_DATE
		FROM TIMETABLE
		<where>
			BRANCH_NO = #{branchNo}
			<if test="workStartTime != null and workStartTime != ''">
				AND WORK_START_TIME = TO_DATE(#{workStartTime}, 'YYYY-MM-DD HH24:MI:SS')
			</if>
			<if test="workEndTime != null and workEndTime != ''">
				AND WORK_END_TIME = TO_DATE(#{workEndTime}, 'YYYY-MM-DD HH24:MI:SS')
			</if>
			<if test="occupName != null and occupName != ''">
				AND OCCUP_NAME = #{occupName}
			</if>
			<if test="occupColor != null and occupColor != ''">
				AND OCCUP_COLOR = #{occupColor}
			</if>
		</where>
	</select>
	
	<update id="update" parameterType="Timetable">
		UPDATE TIMETABLE
		<set>
			<if test="workStartTime != null and workStartTime != ''">
				AND WORK_START_TIME = TO_DATE(#{workStartTime}, 'YYYY-MM-DD HH24:MI:SS')
			</if>
			<if test="workEndTime != null and workEndTime != ''">
				AND WORK_END_TIME = TO_DATE(#{workEndTime}, 'YYYY-MM-DD HH24:MI:SS')
			</if>
			<if test="occupName != null and occupName != ''">
				AND OCCUP_NAME = #{occupName}
			</if>
			<if test="occupColor != null and occupColor != ''">
				AND OCCUP_COLOR = #{occupColor}
			</if>
		</set>
	</update>

	<delete id="delete" parameterType="Timetable">
		DELETE FROM TIMETABLE
		WHERE NO = #{no}
	</delete>
</mapper>