<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.sunmoon.shopface.work.schedule.ScheduleMapper">
	<select id="selectAll" parameterType="schedule" resultType="schedule">
		SELECT 
			 S.NO AS NO
			,E.NAME AS NAME
			,S.TIMETABLE_NO AS TIMETABLE_NO
			,S.MEMBER_ID AS MEMBER_ID
			,S.STATE AS STATE
		FROM EMPLOY E RIGHT OUTER JOIN SCHEDULE S
		ON E.MEMBER_ID = S.MEMBER_ID
		<where>
			<if test="timetableNo != null and timetableNo != ''">
				AND S.TIMETABLE_NO = #{timetableNo}
			</if>
			<if test="memberId !=null and memberId != ''">
				AND S.MEMBER_ID= #{memberId}
			</if>
		</where>
	</select>
	
	<select id="select" parameterType="schedule" resultType="schedule">
		SELECT NO, TIMETABLE_NO, MEMBER_ID, STATE
		FROM SCHEDULE
		WHERE NO = #{no}
	</select>
	
	<insert id="insert" parameterType="schedule"> 
		INSERT INTO SCHEDULE VALUES (#{no},#{timetableNo},#{memberId},#{state}) 
	</insert> 
  
	<update id="update" parameterType="schedule"> 
		UPDATE SCHEDULE 
		<set> 
			<if test="state != null"> 
				STATE = #{state} 
			</if> 
		</set> 
		WHERE NO = #{no} 
	</update> 
	<delete 
		id="delete" parameterType="schedule"> DELETE FROM SCHEDULE WHERE NO = #{no} 
	</delete>
</mapper>