<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout/template">
<head th:include="layout/template :: scriptHeader">
<link rel="stylesheet" th:href="@{/styles/css/classic.css}">
<script type="text/javascript" th:src="@{/js/settings.js}"></script>
</head>
<body>
	<form th:action="@{/logout}" method="post">
		<span th:text="${loginUser.getUsername()}"></span>
		<button type="submit">로그아웃</button>
	</form>
	<table id="datatables-ajax" class="table table-striped dataTable">
		<thead>
			<tr>
				<th>이름</th>
				<th>휴대폰 번호</th>
				<th>이메일</th>
				<th>상태</th>
			</tr>
		</thead>
		<tbody id="table_body">
			<tr>
				<td>검색 결과가 없습니다.</td>
			</tr>
		</tbody>
	</table>
	<form action="/member" method="get">
		<select id="condition" name="condition">
			<option value="name">이름</option>
			<option value="state">상태</option>
		</select>
		<input type="text" id="searchQuery" name="searchQuery">
		<input type="button" id="searchButton" name="searchButton" value="검색">
	</form>
</body>
</html>

<script>
	var dataObj;
	$(document).ready(function() {
		$('#searchButton').click(function() {
			if ($('#condition').val() == 'name') {
				dataObj = {
						"name" : $('#searchQuery').val()
				}
			} else {
				dataObj = {
						"state" : $('#searchQuery').val()
				}
			}
			drawTable();
		})
	});
	
	function drawTable() {
		$.ajax({
			url : "/member",
			type : "get",
			data : dataObj,
			headers : {
				"Content-Type" : "application/json;charset=UTF-8"
			},
			success : function(data) {
				var html = "";
				if (data.length > 0) {
					for(var i = 0; i < data.length; i++) {
						html+= "	<tr>";
						html+= "	<td>" + "<a href='/member/" + data[i].id+"'>" + data[i].name + "</a>" + "</td>";
						html+= "	<td>" + data[i].phone + "</td>";
						html+= "	<td>" + data[i].email + "</td>";
						html+= "	<td>" + data[i].state + "</td>";
						html+= "	</tr>";
					}
				} else {
					html += "<tr><td>검색 결과가 없습니다.</td></tr>";
				}
				$('#table_body').html(html);
			},
			error : function(request, status, error) {
				console.log("Code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
			}
		})
	}
</script>
