<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="layout/template">
<head>
<meta charset="UTF-8">
<title>근무자 목록</title>
</head>
<body>
<th:block layout:fragment="content">
   <main class="content">
      <div class="content">
			<div class="container-fluid p-0">
				<h1>사업장 등록</h1>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header"></div>
							<div class="card-body">
								<form id="branch_form" th:action="@{/branch}" method="post">
									<input type="hidden" name="memberId" value="admin">
									<div class="form-group col-md-4">
										<label for="name">사업장 이름 : </label>
										<input type="text" id="name" class="form-control" name="name">
										<div class="text-center-mt-3" id="checkNameDiv"></div>
									</div>
									<div class="form-group col-md-4">
										<label for="phone">전화번호 : </label>
										<input type="text" id="phone" class="form-control" name="phone"><br>
										<div class="text-center-mt-3" id="checkPhoneDiv"></div>
									</div>
									<div class="form-group col-md-4">
										<label for="zip_code">우편 번호 : </label>
										<button type="button" id="searchAddressButton" class="btn btn-outline-primary" >우편번호 찾기</button>
										<input type="text" id="zipCode" class="form-control" name="zipCode" readOnly><br>
										<div class="text-center-mt-3" id="checkZipCodeDiv"></div>
									</div>
									<div class="form-group col-md-4">
										<label for="address">주소 : </label>
										<input type="text" id="address" class="form-control" name="address" readOnly><br>
										<div class="text-center-mt-3" id="checkAddressDiv"></div>
									</div>
									<div class="form-group col-md-2">
										<label for="detail_address">상세 주소 : </label>
										<input type="text" id="detailAddress" class="form-control" name="detailAddress"><br>
										<div class="text-center-mt-3" id="checkDetailAddressDiv"></div>
									</div>
									<button type="button" id="add_button" class="btn btn-outline-primary">등록</button>
									<button type="button" class="btn btn-outline-primary" onclick="location.href='/branch'">목록</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
   </main>
</th:block>
</body>
</html>
<script>
</script>