<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="layout/template">
<head>
<meta charset="UTF-8">
<title>근무자 목록</title>
</head>
<body>
<th:block layout:fragment="content">
   <main class="content">
      <div class="container-fluid p-0">
					<h1 class="h3 mb-3">사업장 목록</h1>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<div id="datatables-buttons_wrapper"
										class="dataTables_wrapper dt-bootstrap4 no-footer">
										<div class="row">
											<div class="col-sm-12" >
												<button style="float:right" type='button' id='add_button' class='btn btn-outline-primary' onclick="location.href='/branch/form'">등록</button>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<table id="datatables-buttons"
													class="table table-striped dataTable no-footer dtr-inline"
													style="width: 100%;" role="grid"
													aria-describedby="datatables-buttons_info">
													<thead>
														<tr role="row">
															<th>사업장 명</th>
															<th>전화번호</th>
															<th>승인 현황</th>
														</tr>
													</thead>
													<tbody id="table_body">
														<tr role="row">
															<td colspan='4'>검색 결과가 없습니다.
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
  		 	</main>
		</th:block>
	</body>
</html>
<script>
	var dataObj;
	$(document).ready(function () {
		drawTable();
		
		$('#alertsDropdown').click(function() {
			drawAlarmList();
		})
	});
	
	function drawTable() {
		var url = "/branch";
		
		$.ajax({
			url: url,
			type: "get",
			headers: {
				"Content-Type": "application/json;charset=UTF-8"
			},
			success: function (data) {
				var html = "";
				if (data.length > 0) {
					for (var i = 0; i < data.length; i++) {
						if (data[i].state == 'D') {
							continue;
						}
						
						html += "	<tr>";
						html += "	<td>" + "<a href='/branch/" + data[i].no + "'>" + data[i].name + "</a>" + "</td>";
						html += "	<td>" + data[i].phone + "</td>";
					
						if (data[i].approvalStatus == 'W') {
							html += "	<td>" + "승인 대기중" + "</td>";
						} else if (data[i].approvalStatus == 'Y') {
							html += "	<td>" + "승인 완료" + "</td>";
						} else if (data[i].approvalStatus == 'N') {
							html += "	<td>" + "승인 거부됨" + "</td>";
						}
						html += "	</tr>";
					}
				} else {
					html += "<tr><td colspan='4'>검색 결과가 없습니다.</td></tr>";
				}
				
				if (html == "") {
					html += "<tr><td colspan='4'>검색 결과가 없습니다.</td></tr>";
				}
				
				$('#table_body').html(html);
			},
			error: function (request, status, error) {
				console.log("Code:" + request.status + "\n" + "message:" + request.responseText + "\n" +
					"error:" + error);
			}
		})
	}
	
	function drawAlarmList() {
		var url = "/alarm?addresseeId=" + $('#user').html();
		
		$.ajax({
			url: url,
			type: "get",
			data : {
				memberId : ""
			},
			headers: {
				"Content-Type": "application/json;charset=UTF-8"
			},
			success: function(data) {
				var html = "";
				if (data.length > 0) {
					for(var i = 0; i < data.length; i++) {
						html += "<a href='#' class='list-group-item'>";
						html += "<div class='row no-gutters align-items-center'>";
						html += "<div class='col-2'></div>";
						//추후 그림 추가
						html += "<div class='col-10'>";
						html += "<div class='text-dark'>" + data[i].type  +"</div>";
						html += "<div class='text-muted small mt-1'>"+ data[i].contents +"</div>";
						html += "<div class='text-muted small mt-1'>"+ data[i].registerDate +"</div>";
						html += "</div>";
						html += "</div>";
						html += "</a>";
					}
				} else {
					html += "<div class='row no-gutters align-items-center'><div class='col-10'>알람이 없습니다.</div></div>";
				}
				$('#alarmSpace').html(html);
			},
			error: function (request, status, error) {
				console.log("Code:" + request.status + "\n" + "message:" + request.responseText + "\n" +
					"error:" + error);
			}
		})
	}
</script>



