<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template">
	<head th:include="layout/template :: scriptHeader"></head>
	<body>
		<
		<table>
 			<thead>
 				<span id="businessmanId" value="sofksh">
 				<!-- <span id="approvalStatus" value="">  -->
    			<tr>
      				<th>지점 명</th>
      				<th>전화 번호</th>
      				<th>승인 현황</th>
    			</tr>
  			</thead>
  			<tbody id="table">
    			<tr>
      				<td>검색 결과가 없습니다.</td>
    			</tr>
    			<tr>
					<td><a th:href='@{/branch/form}'>등록</td>
				</tr>
  			</tbody>
		</table>
	</body>
	<script> 
		var branchData;
		var result = [[$,{result}]] != null ? [[$,{result}]] : nothing;
		$(document).ready(function() {
			alert(result);
		});
		
			function drawTable() {
				$.ajax({
					url : "/branch",
					type : "get",
					data : branchData,
					headers : {
						"Content-Type" : "application/json;charset=UTF-8"
					},
					success : function(data) {
						var html = "";
						var approvalStatus_result =  "";
						if (data[i].approvalStatus == 'W') {
							approvalStatus_result = "승인 대기";
						} else if (data[i].approvalStatus == 'A') {
							approvalStatus_result = "승인";
						} else if (data[i].approvalStatus == 'N') {
							approvalStatus_result = "거절";
						}
						
						if (data.length > 0) {
							for(var i = 0; i < data.length; i++) {
								html+= "	<tr>";
								html+= "		<td><a th:href='@{/branch/" + data[i].no + "}'>" + data[i].name + "</td>";
								html+= "		<td>" + data[i].phone + "</td>";
								html+= "		<td>" + approvalStatus_result + "</td>";
								html+= "	</tr>";
							}
						} else {
							html += "<tr><td>검색 결과가 없습니다!!!</td></tr>";
						}
		
						html += "<tr>";
						html += "	<td><a th:href='@{/branch/form}'>등록</td>";
						html += "</tr>";
						
						$('#table').html(html);
					}, error : function(request, status, error) {
						console.log("Code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
					}
				})
			}
	</script>
</html>