<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.sunmoon.shopface.alarm.AlarmMapper">
	<select id="selectAll" parameterType="alarm" resultType="alarm">
		SELECT NO, ADDRESSEE_ID, TYPE, CONTENTS, REGISTER_DATE, CHECK_STATE
		FROM ALARM
		WHERE ADDRESSEE_ID = #{addresseeID}
		ORDER BY REGISTER_DATE DESC
	</select>
	
	<select id="select" parameterType="alarm" resultType="alarm">
		SELECT NO, CHECK_STATE
		FROM ALARM
		WHERE NO = #{no}
	</select>
	
	<insert id="insert" parameterType="alarm">
		INSERT INTO ALARM
		(NO, ADDRESSEE_ID, TYPE, CONTENTS)
		VALUES
		(
			ALARM_NO_SEQ.NEXTVAL,
			ADDRESSEE_ID = {addresseeId},
			TYPE = #{type},
			CONTETNS = #{contents}
		)
	</insert>
	
	<update id="update" parameterType="alarm">
		UPDATE ALARM
		SET CHECK_STATE = 'Y'
		WHERE NO = #{no}
	</update>
	
	<delete id="delete" parameterType="alarm">
		DELETE FROM ALARM
		WHERE NO = #{no}
	</delete>
</mapper>