<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.sunmoon.shopface.employ.EmployMapper">
    <select id="selectAll" parameterType="employ" resultType="employ">
        SELECT E.NO, E.NAME, E.BRANCH_NO, M.PHONE, M.EMAIL, E.STATE, E.SALARY 
        FROM EMPLOY E LEFT OUTER JOIN MEMBER M
        ON E.MEMBER_ID = M.ID
        <where>
        <if test="branchNo != null and branchNo !=''">
               AND E.BRANCH_NO = #{branchNo}
            </if>
            <if test="state == null and state ==''">
                AND E.STATE IN('B', 'C')
            </if>
            <if test="name != null and name !=''">
                AND E.NAME = #{name}
            </if>
        </where>
        ORDER BY E.NAME 
    </select>
   
    <select id="select" parameterType="employ" resultType="employ">
        SELECT E.NO, E.NAME, E.BRANCH_NO, M.PHONE, M.EMAIL, M.BANK_NAME, M.ACCOUNT_NUM 
               ,E.STATE, E.SALARY, E.CERTI_CODE, E.EMPLOY_DATE, E.CLOSE_DATE 
        FROM EMPLOY E LEFT OUTER JOIN MEMBER M
        ON E.MEMBER_ID = M.ID
        <where>
        <if test="branchNo != null and branchNo !=''">
               AND BRANCH_NO = #{branchNo}
        </if>
        <if test="no != null and no != ''">
            AND E.NO = #{no}
        </if>
        <if test="certiCode != null and certiCode != ''">
            AND E.CERTI_CODE = #{certiCode}
        </if>
        </where>
    </select>
    
    <insert id="insert" parameterType="employ">
        INSERT INTO EMPLOY(NO, BRANCH_NO, NAME, CERTI_CODE)
        VALUES(EMPLOY_NO_SEQ.NEXTVAL, #{branchNo}, #{name}, #{certiCode})
    </insert>
    
    <update id="update" parameterType="employ">
        UPDATE EMPLOY 
        <set> 
            <if test="name != null and name != ''">
                NAME = #{name}, 
            </if>
            <if test="salary != null and salary != ''">
                SALARY = #{salary}, 
            </if>
            <if test="certiCode != null and certiCode != ''">
                CERTI_CODE = #{certiCode}, 
            </if>
            <if test="state != null and state != ''">
                STATE = #{state}, 
            </if>
            <if test="state =='D' and employDate == null">
                EMPLOY_DATE = NULL, 
            </if>
            <if test="state =='D' and closeDate == null">
                CLOSE_DATE = NULL, 
            </if>
        </set>
        WHERE NO = #{no}
    </update>
    
    <delete id="delete" parameterType="employ">
        DELETE FROM EMPLOY
        WHERE NO = #{no};
    </delete>
</mapper>