<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template">
	<body>
	<form id="employ_form" th:action="@{/employ/{branchNo}/{no}(branchNo = *{branchNo}, no = *{no})}" method="post" th:object="${employ}">
		<input type="hidden" name="_method">
		<label for="no"/><input type="hidden" th:value="*{no}">
		<label for="name">이름 : </label>
		<input type="text" name="name" th:value="*{name}"><br>
		<label for="phone">전화번호 : </label>
		<input type="text" name="phone" th:value="*{phone}" readonly><br>
		<label for="email">이메일 : </label>
		<input type="text" name="email" th:value="*{email}" readonly><br>
		<label for="bankName">은행 명 : </label>
		<input type="text" name="bankName" th:value="*{bankName}" readonly><br>
		<label for="accountNum">계좌번호 : </label>
		<input type="text" name="accountNum" th:value="*{accountNum}" readonly><br>
		<label for="salary">급여 : </label>
		<input type="text" name="salary" th:value="*{salary}"><br>
		<label for="state"> 상태 : </label>
		<input type="text" name="state" th:value=*{state} readonly><br>
		
		<button type="button" id="edit_btn">수정</button>
		<button th:if="*{state} == 'C'" type="button" id="disable_btn">비활성화</button>
	</form>
	</body>
	</html>
	
<script>
	$(document).ready(function() {
		$('#edit_btn').click(function(){
			$('input[name=_method]').val('put');
			$('#employ_form').submit();
		});
		
		$('#disable_btn').click(function(){
			$('input[name=state]').val("D")
			$('input[name=_method]').val('put');
			$('#employ_form').submit();
		});
	});
</script>